img {
  width: 100%;
}

.landing {
  background-size: cover;
  background-position: center;
}
.lead{
  color: blue;
}
.display-3{
  color: black;
}
.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  /* background-color: rgba(0, 0, 0, 0.7); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

body {
  background-color: #FAFAFA;
}
